/* Loaders / Spinners */
.loader,
.spinner {
  margin: 1rem;
  border: 0.25rem solid #146eeb;
  border-top: 0.25rem solid #eee;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  animation: spin 1s linear infinite;
}
.loader {
  border: 0.25rem solid #eee;
  border-top: 0.25rem solid #146eeb;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
